Repository vhtsoft/vhtfm: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

fix: add libray js
  package.json
Due: none

add frappe
  billing/package.json
  billing/src/App.vue
  billing/src/components/AddCardModal.vue
  billing/src/components/AddPrepaidCreditsModal.vue
  billing/src/components/AddressForm.vue
  billing/src/components/AppSidebar.vue
  billing/src/components/Apps.vue
  billing/src/components/BillingDetails.vue
  billing/src/components/BillingDetailsModal.vue
  billing/src/components/BuyCreditsRazorpay.vue
  billing/src/components/BuyCreditsStripe.vue
  billing/src/components/CardForm.vue
  billing/src/components/ChangeCardModal.vue
  billing/src/components/CurrentPlan.vue
  billing/src/components/DropdownItem.vue
  billing/src/components/FCDashboardLoginModal.vue
  billing/src/components/PaymentDetails.vue
  billing/src/components/PrepaidCreditsForm.vue
  billing/src/components/SidebarLink.vue
  billing/src/components/UpgradePlanStepsModal.vue
  billing/src/components/UserDropdown.vue
  billing/src/dialogs.js
  billing/src/index.css
  billing/src/main.js
  billing/src/pages/Cards.vue
  billing/src/pages/Invoices.vue
  billing/src/pages/Overview.vue
  billing/src/pages/Plans.vue
  billing/src/session.js
  billing/src/utils.js
  billing/tailwind.config.js
  billing/vite.config.js
  billing/yarn.lock
  vhtfm/desk/doctype/form_tour/form_tour.py
Due: server, ui-tests, server-ui

fix js
  esbuild/esbuild.js
  yarn.lock
Due: ui-tests

fix js
  vhtfm/public/js/vhtfm/data_import/import_preview.js
  vhtfm/public/js/vhtfm/ui/chart.js
  vhtfm/public/js/vhtfm/ui/datatable.js
  vhtfm/public/js/vhtfm/views/reports/query_report.js
  vhtfm/public/js/vhtfm/views/reports/report_view.js
  vhtfm/public/scss/desk.bundle.scss
  vhtfm/public/scss/desk/frappe_datatable.scss
  vhtfm/public/scss/desk/index.scss
  vhtfm/public/scss/report.bundle.scss
  vhtfm/public/scss/web_form.bundle.scss
  yarn.lock
Due: ui-tests

fix js
  billing/src/main.js
  realtime/handlers.js
  realtime/middlewares/authenticate.js
  vhtfm/app.py
  vhtfm/monitor.py
  vhtfm/public/js/vhtfm/request.js
  vhtfm/tests/test_oauth20.py
  vhtfm/utils/sentry.py
Due: server, ui-tests, server-ui

fix js
  billing/src/main.js
  billing/vite.config.js
Due: ui-tests

fix: git ssl
  package.json
Due: none

fix: git ssl
  billing/package.json
Due: none

fix: git ssl
  billing/oldyarn.lock
  oldyarn.lock
Due: none

fix: git ssl
  billing/package.json
  package.json
Due: none

fix: git ssl
  billing/yarn.lock
  yarn.lock
Due: none

WIP: luu de quay lai lich su
  package.json
Due: none

revert: back to best version
  billing/package.json
  package.json
Due: none

feat: change to vhtfm-ui
  billing/package.json
Due: none

fead: add vhtfm-ui
  billing/package.json
Due: none

fix: change path vhtfm-ui
  billing/src/App.vue
  billing/src/components/AddCardModal.vue
  billing/src/components/AddPrepaidCreditsModal.vue
  billing/src/components/AddressForm.vue
  billing/src/components/AppSidebar.vue
  billing/src/components/Apps.vue
  billing/src/components/BillingDetails.vue
  billing/src/components/BillingDetailsModal.vue
  billing/src/components/BuyCreditsRazorpay.vue
  billing/src/components/BuyCreditsStripe.vue
  billing/src/components/CardForm.vue
  billing/src/components/ChangeCardModal.vue
  billing/src/components/CurrentPlan.vue
  billing/src/components/DropdownItem.vue
  billing/src/components/FCDashboardLoginModal.vue
  billing/src/components/PaymentDetails.vue
  billing/src/components/PrepaidCreditsForm.vue
  billing/src/components/SidebarLink.vue
  billing/src/components/UpgradePlanStepsModal.vue
  billing/src/components/UserDropdown.vue
  billing/src/dialogs.js
  billing/src/index.css
  billing/src/main.js
  billing/src/pages/Cards.vue
  billing/src/pages/Invoices.vue
  billing/src/pages/Overview.vue
  billing/src/pages/Plans.vue
  billing/src/session.js
  billing/src/utils.js
  billing/tailwind.config.js
  billing/vite.config.js
  billing/yarn.lock
  vhtfm/desk/doctype/form_tour/form_tour.py
Due: server, ui-tests, server-ui

fix: change path vhtfm-ui
  billing/yarn.0ld-lock
Due: none

fix: change path vhtfm
  billing/src/main.js
  billing/vite.config.js
Due: ui-tests

vhtfm-uif
  billing/package.json
Due: none

change vhtfm-ui to vhtfm-uif
  billing/src/App.vue
  billing/src/components/AddCardModal.vue
  billing/src/components/AddPrepaidCreditsModal.vue
  billing/src/components/AddressForm.vue
  billing/src/components/AppSidebar.vue
  billing/src/components/Apps.vue
  billing/src/components/BillingDetails.vue
  billing/src/components/BillingDetailsModal.vue
  billing/src/components/BuyCreditsRazorpay.vue
  billing/src/components/BuyCreditsStripe.vue
  billing/src/components/CardForm.vue
  billing/src/components/ChangeCardModal.vue
  billing/src/components/CurrentPlan.vue
  billing/src/components/DropdownItem.vue
  billing/src/components/FCDashboardLoginModal.vue
  billing/src/components/PaymentDetails.vue
  billing/src/components/PrepaidCreditsForm.vue
  billing/src/components/SidebarLink.vue
  billing/src/components/UpgradePlanStepsModal.vue
  billing/src/components/UserDropdown.vue
  billing/src/dialogs.js
  billing/src/index.css
  billing/src/main.js
  billing/src/pages/Cards.vue
  billing/src/pages/Invoices.vue
  billing/src/pages/Overview.vue
  billing/src/pages/Plans.vue
  billing/src/session.js
  billing/src/utils.js
  billing/tailwind.config.js
  billing/vite.config.js
  billing/yarn.0ld-lock
Due: ui-tests

update: vhtfm-charts
  package.json
Due: none

update: vhtfm-charts
  vhtfm/public/js/vhtfm/ui/chart.js
  vhtfm/public/scss/desk.bundle.scss
Due: ui-tests

update: vhtfm-datatable
  package.json
  vhtfm/public/js/vhtfm/data_import/import_preview.js
  vhtfm/public/js/vhtfm/ui/datatable.js
  vhtfm/public/js/vhtfm/views/reports/query_report.js
  vhtfm/public/js/vhtfm/views/reports/report_view.js
  vhtfm/public/scss/report.bundle.scss
  vhtfm/public/scss/web_form.bundle.scss
  yarn.lock
Due: ui-tests

update: update gantt vhtfm
  package.json
Due: none

update: update gantt vhtfm version
  package.json
  yarn.lock
Due: none

update: update gantt vhtfm version
  yarn.lock
Due: none

update: esbuild-plugin-postcss2
  package.json
Due: none

update: esbuild-plugin-postcss2 step2
  esbuild/esbuild.js
  yarn.lock
Due: ui-tests

update: change logo
  vhtfm/public/images/framework.png
  vhtfm/public/images/vhtfm-favicon.svg
  vhtfm/public/images/vhtfm-framework-logo.png
  vhtfm/public/images/vhtfm-framework-logo.svg
  vhtfm/public/images/vhtfm-logo.png
Due: none

update: scss
  vhtfm/public/scss/common/buttons.scss
  vhtfm/public/scss/common/css_variables.scss
  vhtfm/public/scss/common/form.scss
  vhtfm/public/scss/common/grid.scss
  vhtfm/public/scss/common/icons.scss
  vhtfm/public/scss/common/indicator.scss
  vhtfm/public/scss/desk/breadcrumb.scss
  vhtfm/public/scss/desk/dark.scss
  vhtfm/public/scss/desk/desktop.scss
  vhtfm/public/scss/desk/list.scss
  vhtfm/public/scss/desk/navbar.scss
  vhtfm/public/scss/desk/page.scss
  vhtfm/public/scss/desk/sidebar.scss
  vhtfm/public/scss/desk/variables.scss
Due: none

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
